<div class="container mt-5">
  <h1>Turbo Chat</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

  <% if current_user %>
    <%= link_to "Start Chatting", rooms_path, class: "btn btn-primary" %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
  <% else %>
    <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
    <%= link_to "Signup", new_user_registration_path, class: "btn btn-success" %>
  <% end %>
</div>